
mentoria-backend/.kotlin/errors/errors-1729143585792.log
MentoriApp/.idea/deploymentTargetSelector.xml
tatus
MentoriApp/.idea/deploymentTargetSelector.xml
MentoriApp/.idea/deploymentTargetSelector.xml
MentoriApp/.idea/AndroidProjectSystem.xml
MentoriApp/.idea/deploymentTargetSelector.xml
MentoriApp/.idea/runConfigurations.xml
MentoriApp/.idea/deploymentTargetSelector.xml
MentoriApp/.idea/deploymentTargetSelector.xml
MentoriApp/.idea/deploymentTargetSelector.xml
MentoriApp/.idea/deploymentTargetSelector.xml
